<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<br/>
<br/>
<form th:method = "POST" th:action = "@{/}" th:object="${user}">
    <label for="firstName"> Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName"> Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <input type="submit" value="Add"/>

</form>
</body>
</html>